* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #dadada;
  font-family: "Inter var", sans-serif;
  font-size: 14px;
  color: white;
}

.content {
  padding-top: 10px;
  transform: translate3d(50%, 0, 0);
  text-align: left;
  background: #202035;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.main {
  background-color: #FFE5D9;
  overflow: hidden;
}